<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030674304120-i8fuli8knue8o0hmuval0bcslud3m19p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030674304120-i8fuli8knue8o0hmuval0bcslud3m19p</string>
	<key>API_KEY</key>
	<string>AIzaSyCXweQ6yOUXUjCuFpHCsKYXsYuxoezb7HI</string>
	<key>GCM_SENDER_ID</key>
	<string>1030674304120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationCocaroad.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dbcocaroad</string>
	<key>STORAGE_BUCKET</key>
	<string>dbcocaroad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030674304120:ios:6fb17fb3615d25e1fe318d</string>
</dict>
</plist>